
@{ ViewBag.Title = "Main Page";
                Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml"; }


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="admin-main-page">
        <h1>BMI APP </h1>
        <p>"Happiness is the highest form of health"</p>
    </div>
</div>
<!-- /.content-wrapper -->
